@page "/counter"
@inject HttpClient Http

@if (projectModels == null)
{
    <div class="text-lg-center">
        <Spin />
    </div>
}
else
{
    <Table DataSource="projectModels" TItem="ProjectModel">
        <Column TData="string"
            @bind-Field="context.Project_Cd"
            Sortable
            Filterable />

    
</Table>

}
@code {
    List<ProjectModel>? projectModels { get; set; }
    protected override async Task OnInitializedAsync()
    {
        projectModels = await Http.GetFromJsonAsync<List<ProjectModel>>("https://localhost:1111/api/GetProjectList?project_id=-1");
    }
}